@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Estilo customizado para scrollbar vertical */
::-webkit-scrollbar {
  width: 18px;
  height: 18px; /* Adicione esta linha para scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background-color: transparent ; 
}

::-moz-selection { /* Code for Firefox */
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary));
}

::selection {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary));
}

@layer base {



  :root {
    --background: 229 57% 100%;
    --foreground: 229 63% 4%;
    --muted: 229 12% 86%;
    --muted-foreground: 229 10% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 229 63% 3%;
    --card: 0 0% 99%;
    --card-foreground: 229 63% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 20% 90%;
    --secondary-foreground: 229 20% 30%;
    --accent: 229 28% 85%;
    --accent-foreground: 229 28% 25%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 229 100% 62%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;

  }

  .dark {
    --background: 229 41% 4%;
    --foreground: 229 23% 99%;
    --muted: 229 12% 14%;
    --muted-foreground: 229 10% 63%;
    --popover: 229 41% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 229 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 14% 8%;
    --secondary-foreground: 229 14% 68%;
    --accent: 229 23% 17%;
    --accent-foreground: 229 23% 77%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 229 100% 62%;
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .red {
    --background: 360 100% 100%;
    --foreground: 360 5% 10%;
    --card: 360 50% 100%;
    --card-foreground: 360 5% 15%;
    --popover: 360 100% 100%;
    --popover-foreground: 360 100% 10%;
    --primary: 360 71% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 360 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 322 30% 95%;
    --muted-foreground: 360 5% 40%;
    --accent: 322 30% 90%;
    --accent-foreground: 360 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 360 5% 100%;
    --border: 360 30% 82%;
    --input: 360 30% 50%;
    --ring: 360 71% 45%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;

  }
  .red-dark {
    --background: 360 50% 10%;
    --foreground: 360 5% 100%;
    --card: 360 50% 10%;
    --card-foreground: 360 5% 100%;
    --popover: 360 50% 5%;
    --popover-foreground: 360 5% 100%;
    --primary: 360 71% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 360 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 322 30% 25%;
    --muted-foreground: 360 5% 65%;
    --accent: 322 30% 25%;
    --accent-foreground: 360 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 360 5% 100%;
    --border: 360 30% 50%;
    --input: 360 30% 50%;
    --ring: 360 71% 45%;
    --radius: 0.5rem; 
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

  }

  .green {
    --background: 155 36% 100%;
    --foreground: 155 71% 1%;
    --muted: 155 5% 95%;
    --muted-foreground: 155 8% 33%;
    --popover: 155 36% 100%;
    --popover-foreground: 155 71% 1%;
    --card: 155 36% 100%;
    --card-foreground: 155 71% 1%;
    --border: 155 13% 90%;
    --input: 155 13% 90%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 14% 80%;
    --secondary-foreground: 155 14% 20%;
    --accent: 155 23% 71%;
    --accent-foreground: 155 23% 11%;
    --destructive: 8 87% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;

  }

  .green-dark {
    --background: 155 30% 0%;
    --foreground: 155 29% 98%;
    --muted: 155 5% 5%;
    --muted-foreground: 155 8% 67%;
    --popover: 155 30% 0%;
    --popover-foreground: 155 29% 98%;
    --card: 155 30% 0%;
    --card-foreground: 155 29% 98%;
    --border: 155 13% 15%;
    --input: 155 13% 15%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 10% 18%;
    --secondary-foreground: 155 10% 78%;
    --accent: 155 19% 25%;
    --accent-foreground: 155 19% 85%;
    --destructive: 8 87% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }



  .laracon{
    --background: 2 94% 57%;
    --foreground: 11 85% 97%;
  
    --muted: 11 85% 97%;
    --muted-foreground: 33 17% 12%;
  
    --popover: 33 17% 12%;
    --popover-foreground: 33 17% 12%;
  
    --border: 37 17% 35%;
    --input: 37 17% 35%;
  
    --card: 11 85% 97%;
    --card-foreground: 37 17% 35%;
  
    --primary: 2 94% 90%;
    --primary-foreground: 33 17% 12%;
  
    --secondary: 37 19% 58%;
    --secondary-foreground: 0 0% 100%;
  
    --accent: 2 94% 77%;
    --accent-foreground: 11 85% 97%;
  
    --destructive: 37 17% 35%;
    --destructive-foreground: 0 0% 100%;
  
    --ring: 37 19% 58%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  
  

  .gold {
    --background: 38 77% 88%;
    --foreground: 16 43% 34%;
  
    --muted: 28 46% 56%;
    --muted-foreground: 16 43% 34%;
  
    --popover: 38  77%  88%;
    --popover-foreground: 16 43% 34%;
  
    --border: 28 46% 56%;
    --input: 28 46% 56%;
  
    --card: 38 77% 88%;
    --card-foreground: 16 43% 34%;
  
    --primary: 28 46% 56%;
    --primary-foreground: 60 70% 90%;
  
    --secondary: 39 100% 73%;
    --secondary-foreground: 16 43% 34%;
  
    --accent: 39 100% 73%;
    --accent-foreground: 16 43% 34%;
  
    --destructive: 16 43% 34%;
    --destructive-foreground: 38 77 88%;
  
    --ring: 28 46% 56%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  
  .gold-dark {
    --background: 16 43% 34%;
    --foreground: 38 77% 88%;
  
    --muted: 28 46% 56%;
    --muted-foreground: 38 77% 88%;
  
    --popover: 16 43% 34%;
    --popover-foreground: 38 77% 88%;
  
    --border: 28 46% 56%;
    --input: 28 46% 56%;
  
    --card: 16 43% 34%;
    --card-foreground: 38 77% 88%;
  
    --primary: 28 46% 56%;
    --primary-foreground: 60 70% 90%;
  
    --secondary: 39 100% 73%;
    --secondary-foreground: 16 43% 34%;
  
    --accent: 39 100% 52%;
    --accent-foreground: 16 43% 34%;
  
    --destructive: 38 77% 88%;
    --destructive-foreground: 16 43% 34%;
  
    --ring: 28 46% 56%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dracula {
    --background: 231 15% 100%;
    --foreground: 60 30% 10%;
  
    --muted: 232 14% 98%;
    --muted-foreground: 60 30% 20%;
  
    --popover: 231 15% 94%;
    --popover-foreground: 60 30% 20%;
  
    --border: 232 14% 31%;
    --input: 225 27% 51%;
  
    --card: 232 14% 98%;
    --card-foreground: 60 30% 5%;
  
    --primary: 265 89% 78%;
    --primary-foreground: 60 30% 96%;
  
    --secondary: 326 100% 74%;
    --secondary-foreground: 60 30% 96%;
  
    --accent: 225 27% 70%;
    --accent-foreground: 60 30% 10%;
  
    --destructive: 0 100% 67%;
    --destructive-foreground: 60 30% 96%;
  
    --ring: 225 27% 51%;

  }
  
  .dracula-dark {
    --background: 231 15% 18%;
    --foreground: 60 30% 96%;
  
    --muted: 232 14% 31%;
    --muted-foreground: 60 30% 96%;
  
    --popover: 231 15% 18%;
    --popover-foreground: 60 30% 96%;
  
    --border: 232 14% 31%;
    --input: 225 27% 51%;
  
    --card: 232 14% 31%;
    --card-foreground: 60 30% 96%;
  
    --primary: 265 89% 78%;
    --primary-foreground: 60 30% 96%;
  
    --secondary: 326 100% 74%;
    --secondary-foreground: 60 30% 96%;
  
    --accent: 225 27% 51%;
    --accent-foreground: 60 30% 96%;
  
    --destructive: 0 100% 67%;
    --destructive-foreground: 60 30% 96%;
  
    --ring: 225 27% 51%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  

  .azarath {
    --background: 215 46% 98%;
    --foreground: 215 50% 4%;
    --muted: 185 25% 91%;
    --muted-foreground: 185 10% 32%;
    --popover: 215 46% 98%;
    --popover-foreground: 215 50% 4%;
    --card: 215 46% 97%;
    --card-foreground: 215 50% 3%;
    --border: 215 13% 90%;
    --input: 215 13% 90%;
    --primary: 215 84% 19%;
    --primary-foreground: 215 84% 79%;
    --secondary: 185 84% 19%;
    --secondary-foreground: 185 84% 79%;
    --accent: 245 84% 19%;
    --accent-foreground: 245 84% 79%;
    --destructive: 20 99% 33%;
    --destructive-foreground: 0 0% 100%;
    --ring: 215 84% 19%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;

  }

  .azarath-dark {
    --background: 215 31% 3%;
    --foreground: 215 13% 100%;
    --muted: 185 25% 9%;
    --muted-foreground: 185 10% 68%;
    --popover: 215 31% 3%;
    --popover-foreground: 215 13% 100%;
    --card: 215 31% 4%;
    --card-foreground: 0 0% 100%;
    --border: 215 13% 10%;
    --input: 215 13% 10%;
    --primary: 215 84% 19%;
    --primary-foreground: 215 84% 79%;
    --secondary: 185 84% 19%;
    --secondary-foreground: 185 84% 79%;
    --accent: 245 84% 19%;
    --accent-foreground: 245 84% 79%;
    --destructive: 20 99% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 215 84% 19%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }


  .poimandres {
    --background: 226 19% 13%;
    --foreground: 231 28% 73%;
    --muted: 226 12% 17%;
    --muted-foreground: 226 12% 67%;
    --popover: 226 19% 10%;
    --popover-foreground: 231 28% 83%;
    --card: 226 19% 11%;
    --card-foreground: 231 28% 78%;
    --border: 226 9% 18%;
    --input: 226 9% 21%;
    --primary: 231 28% 73%;
    --primary-foreground: 231 28% 13%;
    --secondary: 231 18% 25%;
    --secondary-foreground: 231 18% 85%;
    --accent: 226 19% 28%;
    --accent-foreground: 226 19% 88%;
    --destructive: 8 97% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 231 28% 73%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
  }

  .poimandres-dark {
    --background: 226 19% 13%;
    --foreground: 231 28% 73%;
    --muted: 226 12% 17%;
    --muted-foreground: 226 12% 67%;
    --popover: 226 19% 10%;
    --popover-foreground: 231 28% 83%;
    --card: 226 19% 11%;
    --card-foreground: 231 28% 78%;
    --border: 226 9% 18%;
    --input: 226 9% 21%;
    --primary: 231 28% 73%;
    --primary-foreground: 231 28% 13%;
    --secondary: 200.63 94.12% 80%;
    --secondary-foreground: 200.63 20% 20%;
    --accent: 164.04 61.04% 69.8%;
    --accent-foreground: 164.04 30% 20%;
    --destructive: 8 97% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 231 28% 73%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .discord {
    --background: 334 62% 100%;
    --foreground: 334 55% 1%;
    --muted: 334 35% 95%;
    --muted-foreground: 334 9% 37%;
    --popover: 334 62% 100%;
    --popover-foreground: 334 55% 1%;
    --card: 334 62% 100%;
    --card-foreground: 334 55% 1%;
    --border: 334 5% 95%;
    --input: 334 5% 95%;
    --primary: 334 44% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 334 11% 90%;
    --secondary-foreground: 334 11% 30%;
    --accent: 334 20% 82%;
    --accent-foreground: 334 20% 22%;
    --destructive: 18 93% 23%;
    --destructive-foreground: 18 93% 83%;
    --ring: 334 44% 52%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
  }

  .discord-dark {
    --background: 217.5 9.09% 17.25%;
    --foreground: 334 34% 98%;
    --muted: 210 9.09% 12.94%;
    --muted-foreground: 334 0% 60.77%;
    --popover: 210 9.09% 12.94%;
    --popover-foreground: 334 34% 98%;
    --card: 210 9.09% 12.94%;
    --card-foreground: 334 34% 98%;
    --border: 334 0% 18.46%;
    --input: 214.29 5.04% 27.25%;
    --primary: 226.73 58.43% 65.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.29 5.04% 27.25%;
    --secondary-foreground: 334 0% 100%;
    --accent: 217.5 9.09% 17.25%;
    --accent-foreground: 226.73 58.43% 65.1%;
    --destructive: 358.16 68.78% 53.53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217.5 9.09% 17.25%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }



  .adj {
    --background: 0 0% 97.65%;
    --foreground: 0 0% 12.55%;
    --muted: 0 0% 93.73%;
    --muted-foreground: 0 0% 39.22%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 12.55%;
    --card: 0 0% 98.82%;
    --card-foreground: 0 0% 12.55%;
    --border: 0 0% 84.71%;
    --input: 0 0% 94.12%;
    --primary: 22.93 92.59% 52.35%;
    --primary-foreground: 44 0% 100%;
    --secondary: 34.05 100% 85.49%;
    --secondary-foreground: 16.27 50.43% 22.94%;
    --accent: 0 0% 90.98%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 24.8 79.79% 63.14%;
    --chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
  }
  
  .adj-dark {
    --background: 0 0% 6.67%;
    --foreground: 0 0% 93.33%;
    --muted: 0 0% 13.33%;
    --muted-foreground: 0 0% 70.59%;
    --popover: 0 0% 9.8%;
    --popover-foreground: 0 0% 93.33%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 93.33%;
    --border: 44 14% 11%;
    --input: 0 0% 28.24%;
    --primary: 22.93 92.59% 52.35%;
    --primary-foreground: 29.51 0% 100%;
    --secondary: 28.5 64.52% 12.16%;
    --secondary-foreground: 29.51 100% 88.04%;
    --accent: 0 0% 16.47%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 23.11 59.8% 40%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .soft-purple{
    --background: 286 55% 98%;
    --foreground: 286 65% 2%;
    --muted: 256 33% 95%;
    --muted-foreground: 256 11% 29%;
    --popover: 286 55% 98%;
    --popover-foreground: 286 65% 2%;
    --card: 286 55% 98%;
    --card-foreground: 286 65% 2%;
    --border: 286 9% 89%;
    --input: 286 9% 89%;
    --primary: 286 41% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 256 41% 59%;
    --secondary-foreground: 0 0% 100%;
    --accent: 316 41% 59%;
    --accent-foreground: 0 0% 0%;
    --destructive: 14 84% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 286 41% 59%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
  }

  .soft-purple-dark{
    --background: 286 60% 3%;
    --foreground: 286 21% 97%;
    --muted: 256 33% 5%;
    --muted-foreground: 256 11% 71%;
    --popover: 286 60% 3%;
    --popover-foreground: 286 21% 97%;
    --card: 286 60% 3%;
    --card-foreground: 286 21% 97%;
    --border: 286 9% 15%;
    --input: 286 9% 15%;
    --primary: 286 41% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 256 41% 59%;
    --secondary-foreground: 0 0% 100%;
    --accent: 316 41% 59%;
    --accent-foreground: 0 0% 0%;
    --destructive: 14 84% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 286 41% 59%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .umbra-protocol {
    --background: 248 46% 9%;
    --foreground: 157 100% 50%;
    --muted: 248 12% 15%;
    --muted-foreground: 248 12% 65%;
    --popover: 248 46% 6%;
    --popover-foreground: 157 100% 60%;
    --card: 248 46% 7%;
    --card-foreground: 157 100% 55%;
    --border: 248 36% 14%;
    --input: 248 36% 17%;
    --primary: 157 100% 50%;
    --primary-foreground: 157 100% 10%;
    --secondary: 157 30% 25%;
    --secondary-foreground: 157 30% 85%;
    --accent: 248 46% 24%;
    --accent-foreground: 248 46% 84%;
    --destructive: 10 88% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 157 100% 50%;
    --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
  }

.min-light{
  --background: 0 0% 100%;
  --foreground: 0 0% 13%;
  --muted: 0 12% 90%;
  --muted-foreground: 0 12% 30%;
  --popover: 0 0% 97%;
  --popover-foreground: 0 0% 3%;
  --card: 0 0% 98%;
  --card-foreground: 0 0% 8%;
  --border: 0 0% 95%;
  --input: 0 0% 92%;
  --primary: 0 0% 62%;
  --primary-foreground: 0 0% 2%;
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 85%;
  --accent: 0 0% 85%;
  --accent-foreground: 0 0% 25%;
  --destructive: 5 82% 43%;
  --destructive-foreground: 0 0% 100%;
  --ring: 0 0% 62%;
  --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
}

.min-dark{
  --background: 0 0% 12%;
  --foreground: 0 0% 73%;
  --muted: 0 12% 16%;
  --muted-foreground: 0 12% 66%;
  --popover: 0 0% 9%;
  --popover-foreground: 0 0% 83%;
  --card: 0 0% 10%;
  --card-foreground: 0 0% 78%;
  --border: 0 0% 17%;
  --input: 0 0% 20%;
  --primary: 0 0% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 75%;
  --secondary-foreground: 0 0% 15%;
  --accent: 0 0% 27%;
  --accent-foreground: 0 0% 87%;
  --destructive: 3 100% 54%;
  --destructive-foreground: 0 0% 100%;
  --ring: 0 0% 49%;
  --radius: 0.5rem; 
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

.aura-dark{
  --background: 249 15% 9%;
  --foreground: 0 0% 74%;
  --muted: 249 12% 15%;
  --muted-foreground: 249 12% 65%;
  --popover: 249 15% 6%;
  --popover-foreground: 0 0% 84%;
  --card: 249 15% 7%;
  --card-foreground: 0 0% 79%;
  --border: 249 5% 14%;
  --input: 249 5% 17%;
  --primary: 160 49% 55%;
  --primary-foreground: 0 0% 0%;
  --secondary: 160 30% 25%;
  --secondary-foreground: 160 30% 85%;
  --accent: 249 15% 24%;
  --accent-foreground: 249 15% 84%;
  --destructive: 9 96% 55%;
  --destructive-foreground: 0 0% 100%;
  --ring: 160 49% 55%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

.pro-hacker{
  --background: 0 0% 0%;
  --foreground: 115 100% 39%;
  --muted: 0 12% 15%;
  --muted-foreground: 0 12% 65%;
  --popover: 0 0% 0%;
  --popover-foreground: 115 100% 49%;
  --card: 0 0% 0%;
  --card-foreground: 115 100% 44%;
  --border: 0 0% 5%;
  --input: 0 0% 8%;
  --primary: 115 100% 50%;
  --primary-foreground: 115 100% 10%;
  --secondary: 115 30% 25%;
  --secondary-foreground: 115 30% 85%;
  --accent: 0 0% 15%;
  --accent-foreground: 0 0% 75%;
  --destructive: 6 81% 54%;
  --destructive-foreground: 0 0% 100%;
  --ring: 115 100% 50%;
  --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
}

.tokyo-city-lighter{
  --background: 240 33% 99%;
  --foreground: 229 26% 28%;
  --muted: 240 12% 90%;
  --muted-foreground: 240 12% 30%;
  --popover: 240 33% 96%;
  --popover-foreground: 229 26% 18%;
  --card: 240 33% 97%;
  --card-foreground: 229 26% 23%;
  --border: 240 23% 94%;
  --input: 240 23% 91%;
  --primary: 223 42% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 223 30% 75%;
  --secondary-foreground: 223 30% 15%;
  --accent: 240 33% 84%;
  --accent-foreground: 240 33% 24%;
  --destructive: 10 88% 24%;
  --destructive-foreground: 10 88% 84%;
  --ring: 223 42% 57%;
  --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
}

.ayu-light-bordered{
  --background: 0 0% 99%;
  --foreground: 210 5% 38%;
  --muted: 0 12% 90%;
  --muted-foreground: 0 12% 30%;
  --popover: 0 0% 96%;
  --popover-foreground: 210 5% 28%;
  --card: 0 0% 97%;
  --card-foreground: 210 5% 33%;
  --border: 0 0% 94%;
  --input: 0 0% 91%;
  --primary: 215 7% 65%;
  --primary-foreground: 215 7% 5%;
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 85%;
  --accent: 0 0% 84%;
  --accent-foreground: 0 0% 24%;
  --destructive: 7 89% 41%;
  --destructive-foreground: 0 0% 100%;
  --ring: 215 7% 65%;
  --radius: 0.5rem; 
--chart-1: 12 76% 61%;
--chart-2: 173 58% 39%;
--chart-3: 197 37% 24%;
--chart-4: 43 74% 66%;
--chart-5: 27 87% 67%;
}


  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1  "calt" 1;
  }
}
